@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}




.alert {
  font-weight: bold;
  padding: 0.5em;
  background-color: orange;
  color: white;
}

:target::before {
  content: '';
  display: block;
  height: 244px;
  margin-top: -244px;
  visibility: hidden;
}


@media (max-width: 890px) {
  .col-span-3 {
    display: none;
  }
}
